
<br>
<br>
<br>
<br>
<div class="container">



<div class="col-md-6 col-md-offset-3">

<br>
  <div class="panel panel-default">


<div class="panel-body">

    <%= simple_form_for(@job, html: {multipart: true}) do |f| %>
	<%#f.collection_select :category_id,Category.all, :id ,:name, {:prompt=> "Select Category" ,:required=> true} %>
	<%#f.collection_select :city_id, City.all, :id ,:name,:prompt=> "Select City" %>

	<%= f.collection_select(:category_id,Category.all, :id ,:name, {:prompt=> "Select Category"} ,{:required=> true}) %>
	<%= f.collection_select(:city_id, City.all, :id, :name, {:prompt => 'Choose a city'}, {:required => true}) %>

	
	<div class="form-group mb-3">
	<br>
	<%= f.input :title,required: true,label: "Your Business Name (required)" %>
	<%= f.input :description,required: true,label: "Tell Us About Your Service (required)" %>
	</div>



    <h5>Choose Pricing:</h5>

	<div><%#f.collection_select :price_id, Price.all, :id ,:name,:prompt=> "Select Pricing (required)" %><div>
		<%= f.collection_select(:price_id, Price.all, :id, :name, {:prompt => 'Select Pricing'}, {:required => true}) %>

	<br>

	



<%= f.input :url, required: false,label: "Website (optional)" %>
<div class= "field">
  
  <%= f.input :image, as: :hidden, input_html: { value: @job.cached_image_data } %>
  <%= f.input :image, as: :file %>
 </div>

<div class= "actions">
  <%#= f.button :submit %>
</div>


	
	<%= f.input :phone, as: :integer, required: true, label: "Enter your phone Number (required)",placeholder: "eg 0722456456"%>
  
	<%# if @job.image.blank? %>
	<%#if @job.cached_image_data.blank? %>
 

	<%# f.file_field :image, label: "Ayoo" %>
	<br>
	<%#else %>

	<%# image_tag @job.cached_image_data ,size: "70x70"  %>

	<%#= f.file_field :image, label: "Ayoo" %></p>
	<br>
	<%# end %>
<center>
	<%= button_tag(type: "submit", class: "btn btn-primary") do %>
  	<span><i class="glyphicon glyphicon-wrench"></i> List Service</span>
	<% end %> 
	</center>


<% end %>
<div align="right"><%= link_to "Back", root_path %></div>

</div>
</div>
</div>
</div>

