
<br>
<br>
<br>
<br>

<div class="sidenav">

<div><h4> Categories </h4></div>


<% Category.all.each do |category| %>
              
<b><%= link_to category.name, categories_show_path(category: category.name) %></b>
      
            <% end %>
   
       </div>



<center><h4><i class= "fa fa-wrench" ></i>&nbsp;All Services</h4> </center><br>
  
  
<div class="ui container">

<div class="ui grid">
  
<% @jobs.each do |job| %>
 <div class="four wide column">

<div class="ui card" >


<% if job.image.present? %>
<center><div class="image"><%= link_to (image_tag job.image.url, size: "253x200"), job_path(job)   %></div></center>
<% else %>
<center><div class="image"><%= link_to (image_tag "missing.jpg", size: "253x200"), job_path(job)  %></div></center>
<% end %>





  <div class="content">
      <a class="header"><center><%= link_to job.title ,job_path(job) %></center></a>
      <div class="description">
        <%= job.description %>

   
          <% if job.reviews.empty? %>
        <p><div class="average-review-rating" data-score=<%= job.average_review %>></div> <p>  
        No Reviews Yet

       <% else %>

          
               
              <p><div class="average-review-rating" data-score=<%= job.average_review %>></div> <p>   
              <span class="number-of-reviews">Based on  <%= job.reviews.count%>&nbsp;<%= "Review".pluralize(job.reviews.count) %>  </span>  

          
      <% end %>

     




</div>
</div>
</div>
</div>
  
    <% end %>
  </div>
</div>

   <script>
  $('.average-review-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>