

<br>
<br>
 <div class="jumbotron text-center">
      <div class="container-fluid ">
        <h1 class="jumbotron-heading">Welcome</h1>
        <p class="lead text-muted">Find service providers or request a task to be completed</p>
       
       <% if user_signed_in? %>
       <% else %>
       <center>
          <%= link_to "Sign Up", user_session_path, class: "btn btn-primary" %></a>
         <% end %>
          </center>
       <div class="col-md-6 col-md-offset-3">



<div class="panel-body">


<%= form_tag search_jobs_path, method: :get do |f| %>

<div class="input-group">
<%= text_field_tag :search, params[:search], :size=> "50", placeholder: "Search For A Service or Request", class: 'form-control' %>
 <span class="input-group-btn">

<%= submit_tag "Search", class: 'btn btn-primary' %>
</div>
</span>
  <% end %>
   




</div>
</div>


       
      </div>
    </div>

    




        










<br>
<br>
<div class= "container">
<div class="panel panel-primary">
 

<div class="panel-body"><center><h4>Latest Services</h4> </center></div>
  <div class="panel-body">
  
  



<div id="gallery">

  <% @jobs.take(12).each do |job| %>
    <div class="col-md-3">
    
            <%= link_to (image_tag job.image.url(:medium)), job_path(job), :class=> "thumbnail" %>
            <div class="caption">

            
             <h4><%= link_to job.title, job_path(job) %></h4>

             <p><%= job.category.try(:name)%></p>

              <p><%= job.city.try(:name) %><br><i class="fa fa-building-o"></i></p>


       <% if job.reviews.empty? %>
        <p><div class="average-review-rating" data-score=<%= job.average_review %>></div> <p>  
        No Reviews Yet

       <% else %>

          
               
              <p><div class="average-review-rating" data-score=<%= job.average_review %>></div> <p>   
              <span class="number-of-reviews">Based on  <%= job.reviews.count%>&nbsp;<%= "Review".pluralize(job.reviews.count) %>  </span>  

          
      <% end %>
        </div>
     
      </div>
   <% end %>

   <p align="right">
<%= link_to "View all Services >", jobs_all_path , class: "btn btn-link" %>
</p>


  </div>
  </div>
  </div>

  </div>

  <br>



<br>


        
 <div class="jumbotron jumbotron-custom">
      <div class="container-fluid ">
        <h1 class="jumbotron-custom-heading">Complete requests and make money</h1>
        
       <br>
       <br>
       <br>
       <br>
       <br>
     
    </div>
    </div>

<br>
<br>
<br>

<div class="container">

<div class="panel panel-primary">
  <!-- Default panel contents -->

  
  <div class="panel-body"><center><h4><i class= "fa fa-handshake" ></i>&nbsp;Latest Requests</h4> </center></div>
 

<table class="table table-hover">




<div class="panel-body">
<% @requests.take(12).each do |request| %>
</div>




<tr>



<td><%= image_tag request.user.image, :class=> "img-circular"  %>&nbsp;<%= request.user.name %></td>
<td><%= request.category.try(:name)%></td>

<td><p><%= request.body %></p></td>
<td><%= request.city.try(:name) %></td>
<td>Ksh  <%= number_with_delimiter(request.budget, :delimiter => ',') %>/-</td>
<td><%= link_to "View Request" , request_path(request), class: "btn btn-md btn-primary" %></td>


</tr>


<% end %>

</table>
<p align="right">
<%= link_to "View all Requests >", requests_index_path , class: "btn btn-link" %>
</p>
</div>
</div>


  <br>
  
  
  </div>







<script>
  $('.average-review-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>













 

