



<% if user_signed_in? %>

<% else %>

        
            




        
 <div class="jumbotron text-center">
      <div class="container-fluid ">
        <h1 class="jumbotron-heading">Welcome</h1>
        <p class="lead text-muted">Find service providers or request</p>
       
       
          <%= link_to "Sign Up", user_session_path, class: "btn btn-primary" %></a>



          
       
      </div>
    </div>

    <% end %>




        



<br>
<br>
<center>
<div class= "container">
<div class="row">
<h3>Browse A Service In Your Area</h3>
<div class="input-group">
<%= text_field_tag :search, params[:search], :size=> "50", placeholder: "Search For A Service or Request", class: 'form-control' %>
 <span class="input-group-btn">
<%= submit_tag "Search", class: 'btn btn-default' %>
</span>
  
   






</div>
</div>
</center>




<br>
<br>
<div class= "container">
<h4>Latest Services</h4>
<br>
<div id="gallery">
	<% @jobs.take(12).each do |job| %>
 		<div class="col-md-3">
 			<div class="thumbnail">
      			<%= image_tag job.image.url(:medium) %>
      			<div class="caption">
       			 <h3><%= link_to job.title, job_path(job) %></h3>

        			<p><%= job.city.try(:name) %><br></p>
        			
      			</div>
    		</div>
  		</div>
   <% end %>
  </div>
  </div>

  <br>



<%= link_to "View all Services", jobs_all_path , class: "btn btn-link" %>









<h3>Recent Requests</h3>:

 <div class="album text-muted">
 <div class="container">

<div class="row"> 
<% @requests.take(12).each do |request|%><br>
 
 <div class = "card">
 <%= image_tag(request.user.image)%>
<p class ="card-text"><%= link_to request.title, request_path(request) %>


<%= request.body %>
<%= request.city.try(:name) %></p>
</div>

<% end %>
</div>
</div>
<%= link_to "View all Requests", requests_index_path %>
