
<br>
<br>
 <div class="jumbotron text-center">
      <div class="container-fluid ">
        <h1 class="jumbotron-heading">Welcome to kazify!</h1>
        <p class="lead text-muted">Find service providers or request a task to be completed</p>
       
       <% if user_signed_in? %>
       <% else %>
       <center>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %></a>
         <% end %>
          </center>
          <br>
       <div class="col-md-6 col-md-offset-3">






<%= form_tag search_jobs_path, method: :get do |f| %>

<div class="input-group">
<%= text_field_tag :search, params[:search], :size=> "50", placeholder: "Search For A Service or Request", class: 'form-control' %>
 <span class="input-group-btn">

<%= submit_tag "Search", class: 'btn btn-primary' %>
</div>
</span>
  <% end %>
   




</div>



       
      </div>
    </div>

    




<br>
<div class="ui container">
 <div class="ui message">
       <% Category.all.take(6).each do |category| %>
         <div class="col-md-2"> 
           <h4><%= link_to category.name, categories_show_path(category: category.name), class: "ui primary button" %></h4>
         </div>
       <% end %>
          <p align="right">
          <%= link_to "View all  ", jobs_all_path , class: "btn btn-link" %>
          </p>
     </div>
 </div>






<br>
<br>



<div class="ui container">

<center><h4> Latest Services </h4></center>
<br>

 <div class="ui grid">
<% @jobs.take(12).each do |job| %>
 <div class="four wide column">

<div class="ui card" >


<% if job.image.present? %>
<center><div class="image"><%= link_to (image_tag job.image.url, size: "253x200"), job_path(job)   %></div></center>
<% else %>
<center><div class="image"><%= link_to (image_tag "missing.jpg", size: "253x200"), job_path(job)  %></div></center>
<% end %>





  <div class="content">
      <a class="header"><center><%= job.title %></center></a>
      <div class="description">
        <%# job.description %>
        <%= h truncate(job.description, :length => 80) %>

        <center>
        <% if job.reviews.empty? %>
        <p><div class="average-review-rating" data-score=<%= job.average_review %>></div><p>  
        No Reviews Yet

       <% else %>

          
               
              <p><div class="average-review-rating" data-score=<%= job.average_review %>></div> <p>   
              <span class="number-of-reviews">Based on  <%= job.reviews.count%>&nbsp;<%= "Review".pluralize(job.reviews.count) %>  </span>  

          
      <% end %>
     </center>



</div>
</div>
</div>
</div>
  
    <% end %>

  
  </div>
   <p align="right">
<%= link_to "View all Services >", jobs_all_path , class: "btn btn-link" %>
</p>

</div>
 
<div class="ui grid"> 
 <div class="four wide column"></div> 

</div>

 




  </div>
  </div>
  </div>
</div>

  </div>

  <br>



<br>


        
 <div class="jumbotron jumbotron-custom">
      <div class="container-fluid ">
        <h1 class="jumbotron-custom-heading">Complete requests and make money</h1>
        
       <br>
       <br>
       <br>
       <br>
       <br>
     
    </div>
    </div><br>

    <div class= "ui container">
 <div class="ui message">
       <% Category.all.take(6).each do |category| %>
         <div class="col-md-2"> 
           <h4><%= link_to category.name, categories_index_path(category: category.name), class: "ui primary button" %></h4>
         </div>
       <% end %>
          <p align="right">
          <%= link_to "View all Categories ", requests_index_path , class: "btn btn-link" %>
          </p>
        </div>
      </div>
 
<br>
<br>
<br>


<div class="ui container">


<div class="ui four column grid">





<div class= "ui container">
  <div align="center"><h4>Latest Requests</h4></div>
   <% @requests.all.take(6).each do | request | %>
   <div class="ui segment">
      <div class="ui divided items">
        <div class="item">
           <% if request.user.provider=='facebook' %>
            <a class="ui tiny image">
              <%= image_tag request.user.image, class: "img-circular" %>
            </a>
            <% else %>
        
        <%= link_to (image_tag request.user.avatar),request_path(request), class: "ui tiny image"  %>
              
              <% end %>

                <div class="content" >
                  <h2><a class="header"><%= link_to request.title, request_path(request) %></a></h2>
                          <div class=" description">
                                  <%# request.body ,:length => 80) %>
                                 <%= h truncate(request.body, :length => 280) %>
                                 <div class="city"><b><%= request.city.try(:name) %> </b></div>
                                  <%= link_to "View Request", request_path(request), class: "ui button primary" ,style: "float: right;"%>

                                                </div>
                                                    </div>
                                                        </div>
                                                            </div>
                                                                </div>
                                                                  <% end %>
                                                                     <p align="right">
                                                                      <%= link_to "View all requests ", requests_index_path , class: "btn btn-link" %>
                                                                  </p>

                                                                </div>

</div>




<script>
  $('.average-review-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>













 

