
  <br>
  <br>
 <div class="jumbotron">
 
  <h1><i class="fa fa-wrench" aria-hidden="true"></i>
 Welcome!</h1>
  <p>work</p>


  <p><%= link_to " Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg fa fa-user" %><p>

</div>






<center><h3>Browse A Service In Your Area</h3>

<%= form_tag search_jobs_path, method: :get do |f| %>




    <p>
        <%= text_field_tag :search, params[:search], :size=>"50", class: "form control",  placeholder: "Search for a service or Request" %>
        <%= submit_tag "Search", name: nil  , class: "btn btn-default" %>
   </p>





<% end %>
</center>

<br>
<br>

<h4>Latest Services</h4>
<br>
<div class="row">
	<% @jobs.take(06).each do |job| %>
 		<div class="col-md-3">
 			<div class="thumbnail">
      			<%= image_tag job.image.url %>
      			<div class="caption">
       			 <h3><%= link_to job.title, job_path(job) %></h3>

        			<p><%= job.city.try(:name) %><br></p>
        			
      			</div>
    		</div>
  		</div>
   <% end %>
  </div>

  <br>



<%= link_to "View all Services", jobs_all_path , class: "btn btn-link" %>



<h3>Recent Requests</h3>:

<div class="row"> 
<% @requests.take(06).each do |request|%><br>
 <div class="col-md-3">
 <div class = "thumbnail">
<%= link_to request.title, request_path(request) %><br>
<p><%= image_tag(request.user.image)%></p>

<p><%= request.body %></p>
<br><%= request.city.try(:name) %><br>
</div>
</div>
<% end %>
</div>
<%= link_to "View all Requests", requests_index_path %>