<div class="row">
 <div class="col-md-6 col-md-offset-4">

<h3>Find A Service In Your Area</h3>

<%= form_tag search_jobs_path, method: :get do |f| %>

<%= select_tag :category ,options_for_select(Category.all.map{ |c| [c.name, c.id]}) %>
<%= select_tag :city ,options_for_select(City.all.map{ |c| [c.name, c.id]}) %>


<%= submit_tag 'Search' %>
<% end %>


<h3>Recent Services:</h3>
<% @jobs.take(06).each do |job| %>

<h3><%= link_to job.company, job_path(job) %></h3>


<%= image_tag (job.job_img.url :job_index) %>

<p><%= job.city.try(:name) %></p>

<% end %>