<h1>Find Job</h1>

<%= form_tag search_jobs_path, method: :get do |f| %>

<%= select_tag :category ,options_for_select(Category.all.map{ |c| [c.name, c.id]}) %>
<%= select_tag :city ,options_for_select(City.all.map{ |c| [c.name, c.id]}) %>


<%= submit_tag 'Search' %>
<% end %>



<h2>Latest Jobs & Services</h2>
<% @jobs.each do |job| %>
<h1><%= link_to job.company, job_path(job) %></h1>




<% end %>



