



<% if user_signed_in? %>

<% else %>

        
            




        
 <div class="jumbotron text-center">
      <div class="container-fluid ">
        <h1 class="jumbotron-heading">Welcome</h1>
        <p class="lead text-muted">Find service providers or request</p>
       
       
          <%= link_to "Sign Up", user_session_path, class: "btn btn-primary" %></a>



          
       
      </div>
    </div>

    <% end %>




        



<br>
<br>
<br>
<br>
<center>
<div class= "container">
<div class="row">

<div class="panel panel-default">

<div class="panel-body">


<%= form_tag search_jobs_path, method: :get do |f| %>
<h3>Browse A Service In Your Area</h3>
<div class="input-group">
<%= text_field_tag :search, params[:search], :size=> "50", placeholder: "Search For A Service or Request", class: 'form-control' %>
 <span class="input-group-btn">

<%= submit_tag "Search", class: 'btn btn-primary' %>
</div>
</span>
  <% end %>
   
<br>
<br>
<br>


</div>
</div>



</div>
</div>
</center>




<br>
<br>
<div class= "container">
<div class="panel panel-primary">
 

  <div class="panel-heading"><center>Latest Services</center></div>
  <div class="panel-body">
  
  



<div id="gallery">

	<% @jobs.take(12).each do |job| %>
 		<div class="col-md-3">
 		
      			<%= link_to (image_tag job.image.url(:medium)), job_path(job), :class=> "thumbnail" %>
      			<div class="caption">
            
       			 <h4><%= link_to job.title, job_path(job) %></h4>

             <p><%= job.category.try(:name)%></p>

        			<p><%= job.city.try(:name) %><br></p>
        			
      		
    	
        </div>
     
  		</div>
   <% end %>
   <p align="right">
<%= link_to "...View all Services", jobs_all_path , class: "btn btn-link" %>
</p>


  </div>
  </div>
  </div>

  </div>

  <br>




<br>
<div class="container">

<div class="panel panel-primary">
  <!-- Default panel contents -->

  
  <div class="panel-heading"><center>Latest Requests</center></div>
 

<table class="table table-default">


<th>Requested by</th>
<th>Category</th>

<th>Description</th>
<th>Location</th>
<th>Payout</th>
<th></th>


<% @requests.take(12).each do |request| %>

<tr>
<td><%= image_tag request.user.image, :class=> "img-circular"  %></td>
<td><%= request.category.try(:name)%></td>

<td><%= request.body %></td>
<td><%= request.city.try(:name) %></td>
<td><%= request.budget %></td>
<td><%= link_to "View Request" , request_path(request), class: "btn btn-md btn-primary" %></td>
</tr>


<% end %>

</table>
<p align="right">
<%= link_to "...View all Requests", requests_index_path , class: "btn btn-link" %>
</p>
</div>
</div>


  <br>
  
  
  </div>
















 

