
<div class="container">
 <div class="jumbotron">
 
  <h1><i class="fa fa-wrench" aria-hidden="true"></i>
 Welcome!</h1>
  <p>work</p>
  <p><%= link_to " Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg fa fa-user" %><p>

</div>
</div>
<div class="indexcontent">

<div class="browse">
<h3>Browse A Service In Your Area</h3>

<%= form_tag search_jobs_path, method: :get do |f| %>

<%= select_tag(:category ,options_for_select(Category.all.map{ |c| [c.name, c.id]}),:prompt=>"Select A Service",class: "indexdropdown" )%>

<%= select_tag(:city, options_for_select(City.all.map{ |c|[c.name, c.id]}), :prompt=>"Select Your City") %>


<%= submit_tag 'Search', class: "btn-custom" %>
<% end %>
</div>


<h3>Recent Services:</h3>
<% @jobs.take(06).each do |job| %>

<%= link_to job.company, job_path(job) %>

<%= image_tag (job.job_img.url :job_index) %>

<%= job.city.try(:name) %></div>
<%-#link_to Browse all services', jobs_all_path-%>


</div>

<h3>Recent Requests</h3>:
<%-# @requests.take(06).each do |request|-%>
<%-# link_to request.title, request_path(request)-%>
<%-# image_tag (request.request_img.url :request_index) -%>
<%-#request.price -%>

<%-# request.city.try(:name) -%>



<%-#link_to 'Browse all requests', request_all_path-%>

<% end %>