<div class="container">

<% if @jobs.empty? %>

<h3> No services Found </h3>





<% else %>
<h1> Search Results </h1>

<tbody>

  <h3> Services:! </h3>
  
   <% @jobs.each do |job| %>

     <tr>
        <td><%= link_to job.title, job %></td>
        <p><%= job.city.try(:name) %><br></p>
     
       


    
    <% end %>
    <% end %>

    <% @requests.each do |request| %>

    <h3> Requests: </h3>

     <tr>
        <td><%= link_to request.title, request %></td>
        <td><%= request.body %></td>
        <br><%= request.city.try(:name) %><br>




    <% end %>

   </tr>
 </tbody>
 </div>