<br>
<br>
<br>
<div class= "container">
<div class="row">
  

	<div class="col-md-4 col-md-offset-1">
	<br>
	<div class= "thumbnails">
    
    <div id="popup">



    	   <% if @job.image.present? %>
    <%# if @job.images.size %>

    <%# @jobs.images.each do|image| %>
	<%= image_tag @job.image.url , width: 150  %>

	<% else %>
		<%= image_tag "missing.jpg" %>

				<% end %>
</div>



	</div>
<script type="text/javascript">
  $(document).ready(function() {
     $(".popup_link").click(function(e) {
        e.preventDefault();
        $("#popup").html( $('<img>').attr('src', this.href) );
     });
  });
</script>

 <div class="col-md-14">
		   <div class="panel panel-default">
          <div class="panel-body">
     
     <center>





<%if @job.user.provider=='facebook' %>
   	<p>Posted by <%= link_to(@job.user.name, @job.user) %></p>
	
	<%= link_to (image_tag @job.user.image, :class=> "img-circular"), @job.user %>

  <% else %>
          <p>Posted by <%= link_to(@job.user.first_name, @job.user) %></p>
          <%= link_to (image_tag @job.user.avatar, :class=> "img-circular"), @job.user %>

          <% end %>





	

	<p>Joined<%= @job.user.created_at.strftime(" %b %d, %Y") %></p>
	<div>Verified Accounts:</div>

<%if user_signed_in? && current_user.provider=='facebook' %>
<%= image_tag "fb.png", size: "50x50" %>
<% else %>

<% end %>
	<p><%= link_to("Seller's Profile", @job.user) %><p>

     </center>
	
    </div>
    </div>
    </div>



   <div class="col-md-14">
		   <div class="panel panel-default">
         
         <div class="panel-body">
         <center>
     <h3>Contact</h3>
     <% if user_signed_in? %>
	<p><span class="glyphicon glyphicon-earphone glyphicon-align-left" aria-hidden="true">&nbsp;</span><%= @job.phone %></p>
	<% else %>

	<p> <%= link_to "Sign in" , user_session_path %> to view contact information </p>

	<% end %>
   
    <% if user_signed_in? %>
   
	<%if @job.user_id == current_user.id %>

	<% else %>
    
	<%= link_to "Message Seller", new_conversation_path(:recipient_id => @job.user.id), class: "btn btn-large btn-primary" %>
	<% end %>
	<% end %>
	</center>
    </div>
    </div>
    </div>



 <div class="col-md-14">
		   <div class="panel panel-default">
          <div class="panel-body">
     <center><h4>Share</h4></center>
     <center>
     <p><%= social_share_button_tag(@job.title) %></p>

     </center>
	
    </div>
    </div>
    </div>




   </div>
	


    







	<div class="col-md-6">
    <br>
    <div class="panel panel-default">
    <div class="panel-body">

    <center>
	<h3><%= @job.title %></h3>
	<p>Posted on <%= @job.created_at.strftime(" %b %d, %Y") %></p>

	<p><%= @job.description %></p>
	<p><%= @job.category.try(:name)%></p>
	<p>Pricing: <%= @job.price.try(:name) %>
    <i class="fa fa-building-o"></i><p><%= @job.city.try(:name) %></p>
    <p><%= @job.url %><p>
	

	<p>
    Views&nbsp;<span class="glyphicon glyphicon-eye-open glyphicon-align-left" aria-hidden="true"></span>&nbsp;<%= @job.impressionist_count %>

	</p>

	<% if user_signed_in? %>


<% if @job.user_id == current_user.id %>
<% if @current_user.admin? %>



<%= link_to "Edit", edit_job_path(@job) ,class: "btn btn-md btn-primary"  %>
<%= link_to "Delete", job_path(@job), method: :delete, data: { confirm: "Are you sure to permanently delete this listed service?" }, class: "btn btn-md btn-danger" %>

<% else %>







<% end %>
<% end %>

<% end %>

	<h4>Average Rating</h4>
<div class="average-review-rating" data-score=<%= @average_review %>></div>
<% if user_signed_in? %>
<% if @job.user_id == current_user.id %>
<% if @job.reviews.empty? %>

<p> No one has reviewed your service yet </p>

<% else %>

<% if @job.reviews.empty? %>


<p>No reviews have been added yet <%= link_to 'be the first',  new_job_review_path(@job)  %> </p>
<% else %>
<span class="number-of-reviews">Based on <%= @job.reviews.count%>&nbsp;<%= "Review".pluralize(@job.reviews.count) %> </span>  

<% end %>
<% end %>
<% end %>
<% end %>


<% if user_signed_in? %>
<% if @job.user_id == current_user.id %>

<% else %>

<div><%= link_to "Write A Review", new_job_review_path(@job) %> </div>
<% end %>
<% end %>

	</center>
	</div>
	</div>


<%= render @job.reviews %>



	</div>
</div>









</div>
</div>

</div>
<br>
<div class= "container">

<br>
<p>Report </p>
</div>







</div>

<%# if user_signed_in? %>

<%# unless current_user.favorite_jobs.exists?(id: @job.id) -%>
          <%# link_to 'Add to favorites', favorite_jobs_path(@job),class: "btn btn-sm danger", method: :post  %>
          <%# else -%>
          <%# link_to 'Remove from favorites', favorite_job_path(@job), method: :delete ,class: "btn btn-sm warning"%>
          <%# end -%>


          <%# end %>


</div>




<script>

$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});

</script>

<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score')
		}
	});
</script>

