<div class= "container">
<div class="row">
	<div class="col-md-6">
	<div class="thumbnail">
	<%= image_tag @job.image.url %> 
	</div>
	</div>
	<div class="col-md-6">
	<h3><%= @job.title %></h3>
	<p>Posted on <%= @job.created_at.strftime(" %b %d, %Y") %></p>

	<p><%= @job.description %></p>
	<p><%= @job.category.try(:name)%></p>
    <p>Location: <%= @job.city.try(:name) %></p>
    <p><%= @job.url %><p>
	<p><%= @job.phone %><p>
	<p>Posted by <%= @job.user.name %></p>
	<p>Member since <%= @job.user.created_at.strftime(" %b %d, %Y") %></p>
	<%= image_tag(@job.user.image)%>
	<p><%= link_to("Seller's Profile", @job.user) %><p>

	<p>
    Views: <%= @job.impressionist_count %>

	</p>

	</div>
</div>





<h4>Average Rating</h4>
<div class="average-review-rating" data-score=<%= @average_review %>></div>
<span class="number-of-reviews">Based on <%= @job.reviews.count %>  reviews</span>



</div>
</div>

</div>
<br>
<div class= "container">
<p>Share:<%= social_share_button_tag(@job.title) %></p>
<br>
<p>Report </p>
</div>




<%= render @job.reviews %>


<% if user_signed_in? %>

<% if @job.user_id == current_user.id %>



<%= link_to "Edit", edit_job_path(@job) ,class: "btn btn-md btn-primary"  %>
<%= link_to "Delete", job_path(@job), method: :delete, data: { confirm: "Are you sure to permanently delete this listed service?" }, class: "btn btn-md btn-danger" %>

<% else %>


<%= link_to "Message This User", new_conversation_path(:recipient_id => @job.user.id), class: "btn btn-large btn-primary" %>
<div><%= link_to "Add Review", new_job_review_path(@job) %> </div>



<% end %>

<% end %>

<% if user_signed_in? %>

<%- unless current_user.favorite_jobs.exists?(id: @job.id) -%>
          <%= link_to 'Add to favorites', favorite_jobs_path(@job),class: "btn btn-sm danger", method: :post  %>
          <%- else -%>
          <%= link_to 'Remove from favorites', favorite_job_path(@job), method: :delete ,class: "btn btn-sm warning"%>
          <%- end -%>


          <% end %>


</div>




<script>

$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});

</script>

<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score')
		}
	});
</script>

