<div class="row">

<div class="col-md-4">

<%= image_tag @job.job_img.url(:job_show) %>
</div>

<h3>Posted on </h3><%= @job.created_at.strftime(" %b %d, %Y") %>
<div class="col-md-8">
<h2 class="job-company"><%= @job.company %></h2>
<p class="job-description"><%= @job.description %></p>
<p><%= @job.category.name  %></p>
<p>City:</p><p><%= @job.city.name  %></p>

<p><%= @job.url %><p>
<h2>Average Rating</h2>
<div class="average-review-rating" data-score=<%= @average_review %>></div>
<span class="number-of-reviews">Based on <%= @job.reviews.count %>  reviews</span>



</div>
</div>

</div>

<div class="row">

<div clas="col-md-4">

<%=link_to "Back", root_path, class: "btn btn-sm btn-default" %>


<%= render @job.reviews %>
<% if user_signed_in? %>

<% if @job.user_id == current_user.id || current_user.admin? %>



<%= link_to "Edit", edit_job_path(@job) ,class: "btn btn-sm btn-default"  %>
<%= link_to "Delete", job_path(@job), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-default" %>

<% else %>

<div><%= link_to "Add Review", new_job_review_path(@job) %> </div>

<% end %>

<% if current_user.admin? %>

<%= link_to

<% end %>


<script>

$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});

</script>

<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score')
		}
	});
</script>
