<div class="row">

<div class="col-md-4">

<%= image_tag @job.job_img.url(:job_show) %>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
<h4>Posted on <%= @job.created_at.strftime(" %b %d, %Y") %></h4>
<div class="col-md-8">
<h2 class="job-company"><%= @job.company %></h2>
<p class="job-description"><%= @job.description %></p>
<p><%= @job.category.try(:name)%></p>
<p> Location: <%= @job.city.try(:name) %></p>



<p><%= @job.url %><p>
<p><%= @job.phone %><p>




<%= link_to("Seller's Profile", @job.user) %>



<h4>Average Rating</h4>
<div class="average-review-rating" data-score=<%= @average_review %>></div>
<span class="number-of-reviews">Based on <%= @job.reviews.count %>  reviews</span>



</div>
</div>

</div>

<div class="row">

<div clas="col-md-6">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <br> </br>
<p>Share:<%= social_share_button_tag(@job.title) %></p>




<%= render @job.reviews %>
<% if user_signed_in? %>

<% if @job.user_id == current_user.id || current_user.admin? %>



<%= link_to "Edit", edit_job_path(@job) ,class: "btn btn-md btn-primary"  %>
<%= link_to "Delete", job_path(@job), method: :delete, data: { confirm: "Are you sure to permanently delete this listed service?" }, class: "btn btn-md btn-danger" %>

<% else %>

<div><%= link_to "Add Review", new_job_review_path(@job) %> </div>


<% end %>

<% end %>

<% if user_signed_in? %>

<%- unless current_user.favorite_jobs.exists?(id: @job.id) -%>
          <%= link_to 'Add to favorites', favorite_jobs_path(job_id: @job), method: :post %>
          <%- else -%>
          <%= link_to 'Remove from favorites', favorite_job_path(@job), method: :delete %>
          <%- end -%>


          <% end %>







<script>

$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});

</script>

<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score')
		}
	});
</script>
