<br>
<br>
<br>
<div class= "container">
<div class="row">

	<div class="col-md-6">
	<br>
	<div class="thumbnail">
    
    
	<%= image_tag @job.image.url %>

	</div>


	</div>
	<div class="col-md-6">
    <br>
    <div class="panel panel-default">
    <div class="panel-body">

    <center>
	<h3><%= @job.title %></h3>
	<p>Posted on <%= @job.created_at.strftime(" %b %d, %Y") %></p>

	<p><%= @job.description %></p>
	<p><%= @job.category.try(:name)%></p>
    <p><%= @job.city.try(:name) %></p>
    <p><%= @job.url %><p>
	<p><%= @job.phone %><p>
	<p>Posted by <%= link_to(@job.user.name, @job.user) %></p>
	
	<%= link_to (image_tag @job.user.image, :class=> "img-circular"), @job.user %>

	<p>Member since <%= @job.user.created_at.strftime(" %b %d, %Y") %></p>
	<p><%= link_to("Seller's Profile", @job.user) %><p>

	<p>
    Views: <%= @job.impressionist_count %>

	</p>

	<% if user_signed_in? %>

<% if @job.user_id == current_user.id %>



<%= link_to "Edit", edit_job_path(@job) ,class: "btn btn-md btn-primary"  %>
<%= link_to "Delete", job_path(@job), method: :delete, data: { confirm: "Are you sure to permanently delete this listed service?" }, class: "btn btn-md btn-danger" %>

<% else %>


<%= link_to "Message This User", new_conversation_path(:recipient_id => @job.user.id), class: "btn btn-large btn-primary" %>




<% end %>

<% end %>

	<h4>Average Rating</h4>
<div class="average-review-rating" data-score=<%= @average_review %>></div>
<span class="number-of-reviews">Based on <%= @job.reviews.count %>  reviews</span>
<% unless @job.user_id == current_user.id %>

<div><%= link_to "Write A Review", new_job_review_path(@job) %> </div>
<% end %>
<p><%= social_share_button_tag(@job.title) %></p>
	</center>
	</div>
	</div>


<%= render @job.reviews %>



	</div>
</div>









</div>
</div>

</div>
<br>
<div class= "container">

<br>
<p>Report </p>
</div>







</div>

<% if user_signed_in? %>

<%- unless current_user.favorite_jobs.exists?(id: @job.id) -%>
          <%= link_to 'Add to favorites', favorite_jobs_path(@job),class: "btn btn-sm danger", method: :post  %>
          <%- else -%>
          <%= link_to 'Remove from favorites', favorite_job_path(@job), method: :delete ,class: "btn btn-sm warning"%>
          <%- end -%>


          <% end %>


</div>




<script>

$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});

</script>

<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score')
		}
	});
</script>

