



<h1><%= @user.username %></h1>




 
<% if @user == current_user %>

<p><%= link_to "Edit Profile", edit_user_path(@user) ,class: "btn btn-sm btn-primary"  %></p>
<p><%= link_to "Account Settings", edit_user_registration_path(@user) ,class: "btn btn-sm btn-danger"  %></p>
<p><%#= link_to "Favorite Services", users_favorite_path(@user) ,class: "btn btn-sm warning"  %></p>






<% end %>








<h3> Services Posted by <%= @user.name %></h3>


<% @user.jobs.empty?? 'User Has not posted any jobs' : @user.jobs.take(05).each do |job| %>






<h3><%= link_to job.title, job_path(job) %> </h3>

<%= image_tag job.image.url %>
<p><%= job.city.try(:name) %></p>
     <p>listed on<%= job.created_at.strftime(" %b %d, %Y") %></p>

<%= link_to "View Service", job_path(job), class: "btn btn-xs btn-danger" %>
<% if @user == current_user %>
<%= link_to "Delete Service", job_path(@user), method: :delete, data: { confirm: "The Listed Service will be permanently deleted from your profile & Listings,Are you Sure?" }, class: "btn btn-xs btn-danger" %>





<% end %> 
<% end %>

<h3> Reviews Posted  </h3>


 


  
<script>

$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});

</script>

<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score')
		}
	});
</script>










