<div class = "container">
<br>
<p><%= image_tag @user.image %></p>
<%= @user.name %>
<p>Member since <%= @user.created_at.strftime(" %b %d, %Y") %></p>
</div>

<br>
<div class="container">
<% if @user == current_user %> 
<h4>Your Listings:</h4>
<% else %>
<h4>Jobs posted by <% @user.name %>
<% end %>
<table class="table table-borderless">
<th></th>
<th>Category</th>
<th>Title</th>
<th>City</th>

<th></th>


<% @user.jobs.empty?? 'User Has not posted any jobs' : @user.jobs.take(12).each do |job| %>
<tr>
<td><%= image_tag job.image, :class=> "img-circular" %></td>
<td><%= job.category.try(:name)%></td>
<td><%= job.description %></td>
<td><%= job.city.try(:name) %></td>

<td><%= link_to "View Service" , job_path(job), class: "btn btn-md btn-primary" %></td>
<% if @user == current_user %>
<td><%= link_to "Delete Service", job_path(@user), method: :delete, data: { confirm: "The Listed Service will be permanently deleted from your profile & Listings,Are you Sure?" }, class: "btn btn-md btn-danger" %></td>

</tr>


<% end %>
<% end %>
</table>

<h3> Reviews Posted  </h3>


 


  
<script>

$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});

</script>

<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score')
		}
	});
</script>










