<br>
<br>
<br>
<div class = "container">
<div class="col-md-10 col-md-offset-1">
<br>
<div class="panel panel-default">


<div class="panel-body">
<center>
<%if @user.provider=='facebook' %>
<p><%= image_tag @user.image, class: "img-circular" %></p>
<% else %>
<p><%= image_tag @user.avatar, class: "img-circular" %></p>
<% end %>

<% if @user.name.blank? %>
<%= @user.first_name %> <%= @user.last_name %>
<% else %>
<%= @user.name %>
<%# else %>

<% end %>


<p>Joined<%= @user.created_at.strftime(" %b %d, %Y") %></p>
<p>Verified Accounts:</p>
<%if user_signed_in? && current_user.provider=='facebook' %>
<%= image_tag "fb.png", size: "50x50" %>
<% else %>

<% end %>

</center>
</div>
</div>
</div>
</div>





<br>
<div class="container">
<div class="col-md-10 col-md-offset-1">
<div class="panel panel-default">


<div class="panel-body">
<% if @user == current_user %> 
<center><h4>Your Listings</h4></center>
<% else %>
 <%if @user.provider=='facebook' %>
<center><h4>Jobs posted by <%= @user.name %></h4></center>
<% else %>
<center><h4>Jobs posted by <%= @user.first_name %> <%= @user.last_name %></h4></center>
<% end %>
<% end %>
<table class="table table-borderless">



<% if @user != current_user && @user.jobs.empty? %>
	
<center><p> User has not posted any jobs</p></center>

<% else %>


<% if @user == current_user && @user.jobs.empty? %>

<center><p> You have not posted any jobs</p></center>



<% else %>

	
<%  @user.jobs.each do |job| %>
<tr>
	<%# if job.image.present? %>
	
  <td><%= image_tag job.image_url, size: "70x70" %></td>


	 <%# else %>


<%# link_to (image_tag "missing.jpg", size:"70x70" ), job_path(job) %>

<td><%= job.category.try(:name)%></td>
<td><%= job.description %></td>
<td><%= job.city.try(:name) %></td>

<td><%= link_to "View Service" , job_path(job), class: "btn btn-md btn-primary" %></td>


<%# if @user == current_user %>
<td><%# link_to "Delete Service", job_path(job), method: :delete, data: { confirm: "The Listed Service will be permanently deleted from your profile & Listings,Are you Sure?" }, class: "btn btn-md btn-danger" %></td>

</tr>

<%# end %>

<%# end %>
<% end %>
<% end %>
<% end %>


</table>
</div>

</div>
</div>
</div>


<div class="container">
	<div class="col-md-6 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-body">
			<div class="panel-heading"><center><H3>Reviews Posted</h3></center></div>


<% if @user != current_user && @user.reviews.empty? %>
	
<center><p> User has not posted any reviews</p></center>

<% else %>


<% if @user == current_user && @user.reviews.empty? %>

<center><p> You have not posted any reviews</p></center>


<% @user.reviews.each do |review| %>






 <%if @user.provider=='facebook' %>

<center><%= image_tag review.user.image, class: "img-circular" %>
	<% else %>
	<center><%= image_tag review.user.avatar, class: "img-circular" %>
		<% end %>


<div><h3><%= review.job.title %></h3></div>
<div class="review-rating" data-score="<%= review.rating %>"></div>

<div><%= review.comment %></div></center>
<br>





<% if user_signed_in? %>

<% if @user == current_user %>



<div><p align="right"><%= link_to "Edit", edit_job_review_path(review.job, review) %>
<%= link_to "Delete", job_review_path(review.job, review),method: :delete, data: { confirm: "Are you sure?"} %><p></div>


<% end %>
<% end %>


<% end %>
<% end %>
<% end %>


</div>
	</div>
		</div>
			</div>

 


  
<script>

$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});

</script>













