<br>
<br>
<br>
<div class = "container">
<div class="col-md-10 col-md-offset-1">
<br>
<div class="panel panel-default">


<div class="panel-body">
<center>
<p><%= image_tag @user.image, class: "img-circular" %></p>
<%= @user.name %>
<p>Joined<%= @user.created_at.strftime(" %b %d, %Y") %></p>
</center>
</div>
</div>
</div>
</div>





<br>
<div class="container">
<div class="col-md-10 col-md-offset-1">
<div class="panel panel-default">


<div class="panel-body">
<% if @user == current_user %> 
<h4>Your Listings</h4>
<% else %>
<h4>Jobs posted by <% @user.name %>
<% end %>
<table class="table table-borderless">



<% @user.jobs.empty?? 'User Has not posted any jobs' : @user.jobs.take(12).each do |job| %>
<tr>
<td><%= image_tag job.image, :class=> "img-circular" %></td>
<td><%= job.category.try(:name)%></td>
<td><%= job.description %></td>
<td><%= job.city.try(:name) %></td>

<td><%= link_to "View Service" , job_path(job), class: "btn btn-md btn-primary" %></td>
<% if @user == current_user %>
<td><%= link_to "Delete Service", job_path(@user), method: :delete, data: { confirm: "The Listed Service will be permanently deleted from your profile & Listings,Are you Sure?" }, class: "btn btn-md btn-danger" %></td>

</tr>


<% end %>
<% end %>
</table>
</div>

</div>
</div>
</div>


<div class="container">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-body">
			<div class="panel-heading"><H3>Reviews Posted</h3></div>





<% @user.reviews.empty?? 'User Has not posted any reviews' : @user.reviews.each do |review| %>

<%= image_tag review.user.image, class: "img-circular" %>
<div><h3><%= link_to review.job.title,  job_path(review) %></h3></div>
<div class="review-rating" data-score="<%= review.rating %>"></div>

<div><%= review.comment %></div>
<br>





<% if user_signed_in? %>

<% if @user == current_user %>



<div><%= link_to "Edit", edit_job_review_path(review.job, review) %>
<%= link_to "Delete", job_review_path(review.job, review),method: :delete, data: { confirm: "Are you sure?"} %></div>


<% end %>
<% end %>


<% end %>


</div>
	</div>
		</div>
			</div>

 


  
<script>

$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});

</script>











