

<div class="row">
  <div class="col-md-6 col-md-offset-3">

<h1><%= full_name %></h1>
 
<% if @user == current_user %>

<p><%= link_to "Edit Profile", edit_user_path(@user) ,class: "btn btn-sm btn-primary"  %></p>
<p><%= link_to "Account Settings", edit_user_registration_path(@user) ,class: "btn btn-sm btn-danger"  %></p>
<p><%= link_to "Favorite Services", users_favorite_path(@user) ,class: "btn btn-sm warning"  %></p>


<% end %>






 


<h1> Skills </h1>

<li><%= @user.user.blank?? 'User has not listed any skills' : @user.user %></li>





<h3> Jobs Posted </h3>


<% @user.jobs.empty?? 'User Has not posted any jobs' : @user.jobs.take(05).each do |job| %>






<h3><%= link_to job.company, job_path(job) %>listed on<%= job.created_at.strftime(" %b %d, %Y") %></h3>

<%= image_tag (job.job_img.url :job_index) %>
<p>City:<%= job.city.try(:name) %></p>
<%= link_to "Delete Service", job_path(@user), method: :delete, data: { confirm: "The Listed Service will be permanently deleted from your profile & Listings,Are you Sure?" }, class: "btn btn-xs btn-danger" %>





<% end %> 

<h3> Reviews Posted  </h3>


 


  
<script>

$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});

</script>

<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score')
		}
	});
</script>










