<h1><%= full_name %></h1>
 
<% if @user == current_user %>

<%= link_to "Edit Profile", edit_user_path(@user) ,class: "btn btn-sm btn-default"  %>
<%= link_to "Account Settings", edit_user_registration_path(@user) ,class: "btn btn-sm btn-default"  %>


<% end %>









<h1> Skills </h1>

<li><%= @user.user.blank?? 'User has not listed any skills' : @user.user %></li>





<h3> Jobs Posted </h3>


<% @user.jobs.empty?? 'User Has not posted any jobs' : @user.jobs.take(05).each do |job| %>






<h3><%= link_to job.company, job_path(job) %>listed on<%= job.created_at.strftime(" %b %d, %Y") %></h3>
<p>City:<%= job.city.try(:name) %></p>


<%= image_tag (job.job_img.url :job_index) %>



<% end %> 

<h3> Reviews Posted </h3>


 


  
<script>

$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});

</script>

<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score')
		}
	});
</script>










