  
 <div class="container center_div">
  
  <div class="row">


<div class="col-md-6 col-md-offset-3">


<div class="panel panel-default">
  <div class="panel-body">


<%= simple_form_for(@request, html: {multipart: true}) do |f| %>

<h5>Select Category:<%=f.collection_select :category_id,Category.all, :id ,:name, {:prompt=> "Select Category" ,:required=> true} %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Select Location:<%=f.collection_select :city_id, City.all, :id ,:name,:prompt=> "Select City" %></h5>

<br>





<%= f.input :title, required: true, label: "Title of your Request " , placeholder: "eg looking for a cleaner"%>



<%= f.input :body, required: true, label: "Describe your request in detail",placeholder: "eg i'm hosting a party for the weekend and i need someone to cleanup afterwords" %>



<%= f.input :budget, as: :integer ,required: true,label: "Set your Budget for this Request"%>




<%= f.input :contact, as: :integer, required: true, label: "Enter your phone Number",placeholder: "eg 0722-456-456"%>





<center>
<div class= "action">
<%= button_tag(type: "submit", class: "btn btn-primary") do %>
  <span><i class="glyphicon glyphicon-wrench"></i> Create Request</span>
  </div>

<% end %> 
<div align="right"><%= link_to "Back", root_path %></div>
</div>
</div>
</div>
</div>
</div>




 
 <% end %>