
<br>
<br>
<br>
<br>



<div class="container">

<td><%= link_to Category.find(@request.category_id).name, category_path(@request.category_id) %></td>

<div class="container">
<div class="panel panel-default">
 <div class="panel-body"><center><h4><i class= "fa fa-handshake" ></i>&nbsp;All Requests</h4> </center>
<table class="table table-hover">
    
<th>Requested by</th>
<th>Category</th>
<th>Title</th>
<th>Description</th>
<th>City</th>
<th>Price</th>
<th></th>


<% @requests.take(12).each do |request| %>
<tr>
<td><%= image_tag request.user.image %></td>
<td><%= request.category.try(:name)%></td>
<td><%= request.title %></td>
<td><%= request.body %></td>
<td><%= request.city.try(:name) %></td>
<td><font color="#3A74DA"><b>Ksh <%= number_with_delimiter(request.budget, :delimiter => ',') %></b> </td>
<td><%= link_to "View Request" , request_path(request), class: "btn btn-md btn-primary" %></td>
</tr>
</div>
</div>


<% end %>

</table>
<p align="right"><%= link_to 'Back' , root_path %></p>
</div>


