
<br>
<br>
<br>
<br>


<div class="sidenav">

<div><h4> Categories </h4></div>

<% Category.all.each do |category| %>
              
<%= link_to category.name, categories_index_path(category: category.name) %>

      
            <% end %>

       </div>

<div class="container">


<div class="ui four column grid">




<center><h4>Latest Requests</h4> </center>
<div class= "ui container">
   <% @requests.all.each do | request | %>
   <div class="ui segment">
      <div class="ui divided items">
        <div class="item">
           <% if request.user.provider=='facebook' %>
            <a class="ui tiny image">
              <%= image_tag request.user.image, class: "img-circular" %>
            </a>
            <% else %>
        
        <%= link_to (image_tag request.user.avatar),request_path(request), class: "ui tiny image"  %>
              
              <% end %>

                <div class="content" >
                  <a class="header"><%= link_to request.title, request_path(request) %></a>
                          <div class=" description">
                                  <%= request.body %>
                                  <%= request.city.try(:name) %>
                                  <%= link_to "View Request", request_path(request), class: "ui button primary" ,style: "float: right;"%>

                                                </div>
                                                    </div>
                                                        </div>
                                                            </div>
                                                                </div>
                                                                  <% end %>
                                                               

                                                                </div>
</div>


