
<br>
<br>
<br>
<br>
<br>
<br>


<div class="container">

<div class="col-md-6 col-md-offset-3">
<div class="panel panel-default">
<div class="panel-body">

<h3><%= @request.title %></h3>
<p><h4>Posted on <%= @request.created_at.strftime(" %b %d, %Y") %></h4></p>
<p>Requested by <%= @request.user.name %></p>
<p><%= image_tag (@request.user.image), :class=> "img-circular"   %></p>
<% @request.city%>


<%= @request.body %>

<%= @request.price %>
<%= @request.contact %>

<%-# link_to("Seller's Profile", @request.user) %>



<%-if user_signed_in? %>

<%if @request.user_id == current_user.id %>


<%= link_to "Edit", edit_request_path(@request) ,class: "btn btn-md btn-primary"  %>
<%= link_to "Delete", request_path(@request), method: :delete, data: { confirm: "Are you sure to permanently delete this listed request?" }, class: "btn btn-md btn-danger" %>
  
 <% else %> 

 
 <%= link_to "Send Message", new_conversation_path(:recipient_id => @request.user.id), class: "btn btn-large btn-primary"%>
 <span class="glyphicon glyphicon-envelope"></span>


<%#= link_to :recipient_id => @request.user.id(type: "submit", class: "btn btn-primary") do %>
  <span><i class="glyphicon glyphicon-wrench"></i> Send Message </span>
 

<% end %>
<% end %>
</div>
</div>
</div>


