
<br>
   <br>
      <br>
         <br>
           <br>
	         <br>

<div class="container">
	<div class="row">
      <div class="col-md-4 col-md-offset-4">
      <center>
		   <div class="panel panel-default">
             <div class="panel-body">
               <center>




       <% if @request.completed? %>


      <h1> This request was completed  </h1>

       <% else %>

      <%if @request.user.provider=='facebook' %>
        <p>Requested by <%= link_to(@request.user.name, @request.user) %></p>
        <%= link_to (image_tag @request.user.image, :class=> "img-circular"), @request.user %>
        <% else %>
          <p>Requested by <%= link_to(@request.user.first_name, @request.user) %></p>
          <%= link_to (image_tag @request.user.avatar, :class=> "img-circular"), @request.user %>

          <% end %>

	
	    
	

	       <p>Member since<%= @request.user.created_at.strftime(" %b %d, %Y") %></p>
	      <p><%= link_to("View Profile", @request.user) %><p>
      </center>
	 
     </div>
       </div>
         </div>

     							

     							<div class="container">
         				<div class="row">
        



              <div class="col-md-4 col-md-offset-4">
       <div class="panel panel-default">
         
         <div class="panel-body">
         <center><h3><b><%= @request.title %></b></h3></center>

			
			<p><%= @request.body    %></p>
    
		 







<%-# link_to("Seller's Profile", @request.user) %>




<% end %>






<%#= link_to :recipient_id => @request.user.id(type: "submit", class: "btn btn-primary") do %>


 




  <p align="center"><p>Location: <%=  @request.city.try(:name)    %></p>

    










<p style="text-align:left;">
Views&nbsp;<span class="glyphicon glyphicon-eye-open glyphicon-align-left" aria-hidden="true"></span>&nbsp;<%= @request.impressionist_count %>
<span style="float:right;"><%= @request.created_at.strftime(" %b %d, %Y") %></span>
</p>
</div>
</div>
</div>
</div>
</div>




<% if @request.user_id == current_user.id %>

 <div class="col-md-4 col-md-offset-4">
       <div class="panel panel-default">
         
         <div class="panel-body">
    
   
<center><%= link_to complete_request_path(@request), method: :patch do %></p>
<i class="fa fa-check fa-lg"></i><% end %><%= link_to "Edit", edit_request_path(@request) ,class: "btn btn-md btn-primary"  %>
<%= link_to "Delete", request_path(@request), method: :delete, data: { confirm: "Are you sure to permanently delete this listed request?" }, class: "btn btn-md btn-danger" %></center>

         </div>
         </div>
         </div>
  <% end %>


 <% if @request.completed? %>

<% else %>

 <div class="col-md-4 col-md-offset-4">
		   <div class="panel panel-default">
         
         <div class="panel-body">
         <center><h3>Payout</h3></center>
   <p> Earn Ksh  <%= number_with_delimiter(@request.budget, :delimiter => ',') %>/- if you complete this request</p>
         </div>
         </div>
         </div>



        


 <div class="col-md-4 col-md-offset-4">
		   <div class="panel panel-default">
         
         <div class="panel-body">
         <center>
         
     <h3>Contact</h3>
     <p>Can you fullfill this request?<p>
	<p><span class="glyphicon glyphicon-earphone glyphicon-align-left" aria-hidden="true">&nbsp;</span><%= @request.contact %></p>


   <% end %>
   
    <% if user_signed_in? %>
   
	<%if @request.user_id == current_user.id %>

	<% else %>
   <center><%= link_to "Send Message", new_conversation_path(:recipient_id => @request.user.id), class: "btn btn-large btn-primary"%></center>
    
	<%#= link_to "Message Seller", new_conversation_path(:recipient_id => @request.user.id), class: "btn btn-large btn-primary" %>
	<% end %>
	<% end %>
	</center>
	</center>
    </div>
    </div>
    </div>




