
<br>
<br>
<br>
<br>


<div class="sidenav">

<div><h4> Categories </h4></div>

<% Category.all.each do |category| %>
              
<%= link_to category.name, categories_index_path(category: category.name) %>
      
            <% end %>
            <%= link_to "View all Requests", requests_index_path , class: "ui tiny primary button" %>
   
       </div>



 <div class="container">
<div class="main">

<center><h4>All <%= (params[:category] ).titleize %> Requests</h4> </center>
<br>


<% unless @requests.blank? %>
    

<div class= "ui container">
   <% @requests.all.take(6).each do | request | %>
   <div class="ui segment">
      <div class="ui divided items">
        <div class="item">
           <% if request.user.provider=='facebook' %>
            <a class="ui tiny image">
              <%= image_tag request.user.image, class: "img-circular" %>
            </a>
            <% else %>
        
        <%= link_to (image_tag request.user.avatar),request_path(request), class: "ui tiny image"  %>
              
              <% end %>

                <div class="content" >
                  <a class="header"><%= link_to request.title, request_path(request) %></a>
                          <div class=" description">
                                  <%= request.body %>
                                  <%= request.city.try(:name) %>
                                  <%= request.category.try(:name) %>
                                  <%= link_to "View Request", request_path(request), class: "ui button primary" ,style: "float: right;"%>

                                                </div>
                                                    </div>
                                                        </div>
                                                            </div>
                                                                </div>
                                                                  <% end %>



</table>
<p align="right"><%= link_to 'Back' , requests_index_path %></p>
</div>

<% else %>

<center><p> No  <%= (params[:category] ).titleize  %> requests found </p></center>
<p align="right"><%= link_to 'Back' , requests_index_path %></p>

<% end %>


