
<div class="row">
  <div class="col-md-12 ">

   <div class="panel panel-default">
    <div class="panel-body">
  
<H3>Customer Reviews</H3>
<p><%= image_tag review.user.image, class: "img-circular" %></p>

<p>By <%= link_to(review.user.name, review.user) %> on<%= review.created_at.strftime(" %b %d, %Y") %></p>
<div class="review-rating" data-score="<%= review.rating %>"></div>


<p><%= review.comment %></p>






<% if user_signed_in? %>

<% if @job.user_id == current_user.id %>

<% else %>

<%= link_to "Edit", edit_job_review_path(review.job, review) %>
<%= link_to "Delete", job_review_path(review.job, review),method: :delete, data: { confirm: "Are you sure?"} %>


<% end %>

<% end %>

</div>
</div>