<!DOCTYPE html>
<html>
  <head>
    <title>Kaziify</title>
    <%= csrf_meta_tags %>
    <%# csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-139455793-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-139455793-1');
</script>

  </head>

  <body>
            <div class="ui white small inverted menu fixed">
              <div class="ui container">




          <%= link_to 'Kaziify', root_path ,class: "item" %></a>


            <div class="right menu">
              <div class= "item">
         
          <%= link_to "List Your Service", new_job_path, class: "ui inverted blue button" %>
        </div>
        <div class= "item">
          <%= link_to "Request a task", new_request_path, class: "ui inverted teal button" %>
   
               
             </div>


       

         <% if user_signed_in? %>
            <div class="ui dropdown item">
              <button class="ui primary button">
              Account <i class="dropdown icon"></i>
            </button>
              <div class="menu">

              <%= link_to "Account Settings", edit_user_registration_path(@user), class: "item" %>
              <%= link_to "Contact Us", new_contact_path, class: "item" %>

              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "item" %>


              </div>

              <% else %>
              <div class="item">
            <%= link_to "Log in", user_session_path, class: "ui inverted button" %>
            <%# link_to "Contact Us", user_session_path, class: "ui inverted button" %>
            <% end %>
          </div>
            </div>
            <% if user_signed_in? %>
            <% else %>
            <div class="item">
            <%= link_to "Sign Up", new_user_registration_path , class: "ui primary button" %></div>
                <% end %>
            </div>
            </div>
          </div>
        </div>
        
    <%= yield %>
  </div>
  </body>
</html>


<script>
$(document).on('turbolinks:load', function(){
    $(".alert").delay(2000).slideUp(500, function(){
          $(".alert").alert('close');
      });
    });
</script>

<script>
$(document).on('turbolinks:load', function(){
    $(".notice").delay(2000).slideUp(500, function(){
          $(".alert").alert('close');
      });
    });
</script>





<script>
$('.ui.dropdown')
  .dropdown();
</script>
